{% extends 'back_end/base/base.html.twig' %}



    {% block page_body %}

        <div class="page-body">
            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="page-header">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="page-header-left">
                                <h3>Product List
                                    <small>Multikart Admin panel</small>
                                </h3>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <ol class="breadcrumb pull-right">
                                <li class="breadcrumb-item">
                                    <a href="index.html">
                                        <i data-feather="home"></i>
                                    </a>
                                </li>
                                <li class="breadcrumb-item">Digital</li>
                                <li class="breadcrumb-item active">Product List</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container-fluid Ends-->

            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <form class="form-inline search-form search-box">
                                    <div class="form-group">
                                        <input class="form-control-plaintext" type="search" placeholder="Search..">
                                    </div>
                                </form>

                                <a href="add-digital-product.html" class="btn btn-primary mt-md-0 mt-2">Add New
                                    Product</a>
                            </div>

                            <div class="card-body">
                                <div class="table-responsive table-desi">
                                    <table class="table list-digital all-package table-category "
                                           id="editableTable">
                                        <thead>
                                        <tr>
                                            <th>Product Image</th>
                                            <th>Product Title</th>
                                            <th>Category</th>
                                            <th>Quantity</th>
                                            <th>Option</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                            {% if products %}
                                                {% for product in products  %}
                                                    <tr>

                                                        <td>
                                                            <img src="{{ product.mainImage }}"
                                                                 data-field="image" alt="">
                                                        </td>

                                                        <td data-field="name">{{ product.name }}</td>

                                                        <td data-field="price">{{ product.category }}</td>

                                                        <td data-field="name">{{ product.quantity }}</td>

                                                        <td>
                                                            <a class="pe-2" href="javascript:void(0)">
                                                                <i class="fa fa-edit" title="Edit"></i>
                                                            </a>

                                                            <a class="pe-2" href="javascript:void(0)">
                                                                <i class="fa fa-trash" title="Delete"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            {% endif %}

                                        </tbody>
                                    </table>
                                    <div class="navigation d-flex justify-content-end  pt-2">
                                        {{ knp_pagination_render(products,'back_end/base/_pagination.html.twig') }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container-fluid Ends-->
        </div>
    {% endblock page_body %}
